:root {
  --primary-color: #78635a;
  --white-color: #fff;
  --text-color-T: #a3a3a3;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #a3a3a3;
  line-height: 27px !important;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

.flexCenter {
  display: flex;
  align-items: center;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-6 {
  margin-top: 6px;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-t-28 {
  margin-top: 28px !important;
}

.m-t-24 {
  margin-top: 24px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-8 {
  margin-left: 8px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-y-20 {
  margin: 20px 0px;
}

.btn-primary {
  background-color: var(--primary-color);
}

.p-re {
  position: relative;
}

a:hover {
  color: #727475 !important;
}

.btn-primary:hover {
  background-color: var(--primary-color) !important;
}

.no-gutters {
  margin: 0;
  padding: 0;
}

.p-x-15 {
  padding: 0px 15px;
}

p {
  font-size: 16px;
  line-height: 27px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
}

.p-r-20 {
  padding-right: 20px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
a {
  font-family: "Poppins", sans-serif;
}

.itemCenter {
  align-items: center;
}

.header-nav {
  background-image: url(/assets/images/slide2.jpg);
  background-repeat: no-repeat;
  background-position: 0px -300px;
  background-size: cover;
}
.header-nav-left {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-family: "Poppins", sans-serif;
}
.header-nav-left img {
  width: 15px;
  height: 15px;
}
.header-nav-left span {
  font-size: 1.3rem;
  color: var(--white-color);
  text-transform: uppercase;
  line-height: 19px;
}
.header-nav-right {
  padding: 10px 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-nav-right img {
  height: 15px;
  width: 15px;
}
.header-nav-right span {
  font-size: 1.3rem;
  color: var(--white-color);
  text-transform: uppercase;
}
.header-content-img {
  text-align: center;
  padding: 25px 15px;
}
.header-content-img img {
  width: 170px;
  margin: 10px 0px;
}
.header-content-icon {
  display: none;
  cursor: pointer;
}
.header-content-icon img {
  width: 25px;
}
.header-menu {
  padding: 15px;
  background-color: #ffffff;
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
}
.header-menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.header-menu-item {
  line-height: 27px;
}
.header-menu-item::after {
  content: "|";
  color: #f1f1f1;
  margin: 0 20px;
  display: inline-block;
}
.header-menu-item:last-child::after {
  content: none;
}
.header-menu-item:hover .header-dropdown {
  display: block;
}
.header-menu-link {
  color: #727475;
  font-size: 13px;
  line-height: 13px;
  font-family: Poppins;
  font-weight: lighter;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.header-menu-btn {
  border-radius: 25px;
}
.header-menu-btn a {
  color: var(--white-color) !important;
  text-align: center;
  padding: 0 15px;
  font-size: 1.1rem;
}
.header-dropdown {
  position: absolute;
  top: 158%;
  left: 0;
  width: 200px;
  background-color: var(--white-color);
  box-shadow: 0px 2px 5px #f1f1f1;
  display: none;
  z-index: 2;
}
.header-dropdown-list {
  padding-left: 0;
}
.header-dropdown-item {
  padding: 15px 20px;
  border-bottom: 1px solid #f1f1f1;
  background-color: var(--white-color);
  text-align: left;
}
.header-dropdown-item:hover {
  background-color: #f9f9f9;
}
.header-dropdown-item:hover .header-dropdown-box {
  display: block;
}
.header-dropdown-item .header-dropdown-box {
  position: absolute;
  left: 100%;
  margin-left: 20px;
  top: 0;
  width: 200px;
  background-color: var(--white-color);
  display: none;
  box-shadow: 0px 2px 5px #f1f1f1;
}
.header-dropdown-item .header-dropdown-box::before {
  content: "";
  top: 0;
  right: 100%;
  width: 20px;
  height: 100%;
  position: absolute;
}
.header-dropdown-link {
  font-size: 1.3rem;
  color: #727475;
  letter-spacing: 2px;
  line-height: 1.3rem;
  width: 100%;
  display: block;
  font-family: Poppins;
  font-weight: lighter;
}
.header-dropdown-link span {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 3px 5px;
  float: right;
  line-height: 1.3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.header-dropdown-link .icon-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #727475;
}
.header-dropdown::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 20px;
  top: -20px;
}

.slider-img {
  width: 100%;
  height: 100%;
}
.slider-img img {
  width: 100%;
  max-height: 800px;
}
.slider .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(135, 135, 135, 0) 0%, rgba(135, 135, 135, 0.7) 100%);
  z-index: 1;
}

.btn-slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  color: var(--white-color);
  z-index: 3;
}
.btn-slider:hover {
  color: rgba(255, 255, 255, 0.5);
}
.btn-slider-prev {
  left: 30px;
}
.btn-slider-next {
  right: 30px;
}

.text-box {
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 2;
  text-transform: uppercase;
}
.text-box h1 {
  color: white;
  font-size: 100px;
  line-height: 100px;
  font-weight: 400;
  transition: none 0s ease 0s;
  text-align: inherit;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
}
.text-title {
  transition: none 0s ease 0s;
  text-align: left;
  line-height: 22px;
  border-width: 0px;
  margin: 20px 0px 0px 0px;
  padding: 0px;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 20px;
  color: white;
}
.text-title span {
  color: var(--white-color);
  font-size: 2rem;
  line-height: 3rem !important;
}
.text-title span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--white-color);
}

.tour {
  margin-top: -15px;
  background-color: var(--white-color);
  font-family: "Poppins", sans-serif;
  color: var(--white-color) !important;
}
.tour-post {
  background-color: #78635a;
  padding: 40px;
  height: 225px;
}
.tour-post h3 strong {
  color: var(--white-color);
  font-weight: normal !important;
  font-size: 2rem;
  line-height: 2rem;
}
.tour-post p {
  font-size: 1.4rem;
  line-height: 2.7rem;
}
.tour-post a {
  color: var(--white-color);
  border: 1px solid #fff;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 8px 20px;
  font-family: "Roboto" !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.tour-post a:hover {
  color: var(--white-color) !important;
}
.tour-info {
  background-color: #715d55 !important;
  padding: 40px;
  height: 225px;
}
.tour-info h3 {
  color: var(--white-color);
  font-weight: normal !important;
  font-size: 2rem;
  line-height: 2rem;
}

.check-in {
  font-size: 1.4rem;
  line-height: 2.7rem;
  display: flex;
  align-items: center;
}
.check-in p {
  margin: 0;
}
.check-text {
  padding: 10px;
  width: 50%;
}
.check-date {
  padding: 10px;
  width: 50%;
  text-align: right;
}
.check-out {
  border-top: 2px solid #78635a;
  font-size: 1.4rem;
  line-height: 2.7rem;
  display: flex;
  align-items: center;
}
.check-out p {
  margin: 0;
}
.check-form {
  height: 225px;
}
.check-form-choose {
  text-align: center;
}
.check-form-choose img {
  width: 12px;
  margin-top: 8px;
  display: block;
}
.check-form-choose img.prev {
  transform: rotate(180deg);
}
.check-form form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
}
.check-form-list {
  color: #a3a3a3 !important;
  width: 75%;
  padding: 30px;
}
.check-form-item {
  text-align: center;
  cursor: pointer;
}
.check-form-item h6 {
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1.2rem;
  margin: 0;
}
.check-form-date {
  display: flex;
  justify-content: center;
}
.check-form-day {
  font-size: 50px;
  margin: 0;
}
.check-form-month {
  text-transform: inherit !important;
}
.check-form-btn {
  width: 25%;
  height: 100%;
  text-align: center;
  height: 132px;
}
.check-form-btn input {
  background-image: url(../images/form.jpg);
  background-size: 1700px;
  background-position: right;
  font-size: 12px;
  line-height: 1.8rem;
  letter-spacing: 2px;
  font-weight: lighter;
  color: var(--white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 46px 18px;
  white-space: normal;
}

.room {
  margin-top: 70px;
  font-family: "Poppins", sans-serif;
}
.room-box {
  margin-top: 45px;
}
.room-left {
  height: 100%;
  padding-bottom: 8px;
}
.room-info {
  border: 1px solid #f1f1f1;
  background-color: var(--white-color);
  height: 100%;
}
.room-info-img img {
  width: 100%;
}
.room-info-text {
  padding: 30px;
}
.room-info-text ul {
  display: flex;
  align-items: center;
  padding-left: 0;
}
.room-info-text ul li {
  font-size: 1.2rem;
  color: #a3a3a3;
  line-height: 1.2rem;
  text-transform: uppercase;
}
.room-info-text ul li img {
  width: 23px;
}
.room-info-text p {
  color: #a3a3a3;
}
.room-info-text a {
  border: none !important;
  font-size: 1.1rem;
  line-height: 1.1rem;
  letter-spacing: 2px;
  padding: 15px 30px !important;
  text-transform: uppercase;
}
.room-info-text a:hover {
  color: var(--white-color) !important;
}
.room-info-name {
  color: #727475;
  text-transform: capitalize;
}
.room-info-item {
  padding-bottom: 8px;
}
.room-info-item a img {
  width: 100%;
}
.room-info-item .text {
  position: absolute;
  bottom: 30px;
  left: 15%;
  right: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.room-info-item .text p {
  font-size: 1.1rem;
  line-height: 1.1rem;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
.room-info-item .text-primary {
  padding: 3px 5px;
  background-color: #78635a;
  color: var(--white-color) !important;
}
.room-star {
  position: absolute;
  bottom: 20px;
  left: 30px;
  display: flex;
  align-items: center;
}
.room-star p {
  margin: 0;
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.1rem;
  letter-spacing: 2px;
  margin-right: 10px;
}
.room-star img {
  width: 10px;
  margin-right: 5px;
}

.page-title {
  color: #a3a3a3;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  font-weight: lighter;
  text-transform: uppercase;
}
.page-border {
  text-align: center;
}
.page-border span {
  height: 1px;
  width: 30px;
  background-color: #a3a3a3;
  display: inline-block;
}
.page-name {
  font-weight: normal;
  font-size: 5.5rem;
  text-align: center;
  color: #727475;
  text-transform: capitalize;
  margin-top: 20px;
}

.contact {
  margin-top: 55px;
  background-image: url(../images/bg-contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  padding: 90px 0px;
  position: relative;
}
.contact-overlay {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(101, 100, 96, 0.3);
  left: 0px;
  top: 0;
  z-index: 1;
}
.contact-left {
  padding: 10px 15px;
  height: 100%;
  font-family: "Poppins", sans-serif;
  z-index: 2;
}
.contact-left-box {
  margin-top: 30%;
}
.contact-left-box h2 {
  text-align: center;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 4px;
  font-weight: lighter;
  color: var(--white-color);
}
.contact-left-name {
  font-size: 6rem !important;
  line-height: 7rem !important;
  font-weight: normal !important;
}
.contact-left-item {
  text-align: center;
}
.contact-left-item h1 {
  color: var(--white-color);
  font-size: 4rem;
  line-height: 4.5rem;
  padding: 20px 0px;
}
.contact-left-item h5 {
  border-radius: 0px !important;
  font-size: 11px;
  padding: 5px 10px;
  font-family: "Roboto";
  color: #878787;
  background-color: #ffffff;
  display: inline-block;
  line-height: 1.2rem;
  text-transform: uppercase;
}
.contact-right {
  padding: 10px 15px;
  float: right;
  z-index: 3;
  position: relative;
}
.contact-form {
  width: 500px;
  background-color: var(--white-color);
}
.contact-form-header {
  border: 1px solid #f1f1f1;
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
}
.contact-form-header h6 {
  border-radius: 0px;
  padding: 5px 10px;
  font-size: 11px;
  background-color: #78635a;
  display: inline-block;
  color: var(--white-color);
}
.contact-form-header h1 {
  margin-top: 4px;
  font-family: "Poppins", sans-serif;
}
.contact-form-header h1 strong {
  color: #727475;
  font-weight: normal;
  font-size: 3rem;
  line-height: 3rem;
}
.contact-form-box {
  padding: 20px 50px;
}
.contact-form-box .form-group {
  padding: 0px 10px 15px 0px;
}
.contact-form-box .form-group p {
  color: #a3a3a3;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 2.7rem;
  font-weight: lighter;
  text-transform: capitalize;
}
.contact-form-box .form-group input {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-width: 1px;
  border-color: #f1f1f1;
  border-radius: 0px;
  border-style: solid;
  color: #878787;
  width: 100%;
  outline: none;
  font-size: 1.5rem;
}
.contact-form-box .form-group textarea {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-width: 1px;
  border-color: #f1f1f1;
  border-radius: 0px;
  border-style: solid;
  color: #878787;
  width: 100%;
  outline: none;
  font-size: 1.5rem;
}
.contact-btn input {
  width: 100%;
  color: var(--white-color);
  background-color: #715d55;
  border-width: 0px;
  border-color: #715d55;
  border-radius: 0px;
  border-style: solid;
  cursor: pointer;
  font-size: 1.1rem;
  line-height: 1.2rem;
  letter-spacing: 2px;
  padding: 15px 30px !important;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.service {
  padding: 50px 0px;
  border-bottom-width: 1px !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  background-color: #ffffff !important;
  border-bottom-color: #f1f1f1 !important;
  border-bottom-style: solid !important;
}
.service-item {
  padding: 0px 15px;
  margin: 10px 0px;
  display: flex;
}
.service-item a img {
  width: 50px;
}
.service-text {
  margin-left: 20px;
}
.service-text h2 {
  color: #727475;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.service-text p {
  color: #a3a3a3;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.post {
  margin-top: 70px;
}
.post-item {
  border: 1px solid #f1f1f1;
  font-family: "Poppins", sans-serif;
}
.post-item a img {
  width: 100%;
  max-height: 325px;
  min-height: 325px;
}
.post-item-info {
  padding: 30px;
  color: #727475;
}
.post-item-info h5 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.post-item-info .page-border {
  text-align: left;
}
.post-item-info h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.post-item-info p {
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: #a3a3a3;
}
.post-item-btn {
  border: 2px solid #78635a;
  color: #78635a;
  padding: 15px 30px;
  display: inline-block;
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: bold;
  text-align: center;
}
.post-list {
  margin-top: 45px;
}

.banner {
  margin-top: 55px;
  background-image: url(../images/bg-banner.jpg);
  padding: 50px 110px;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-item {
  position: relative;
  z-index: 1;
}
.banner-item img {
  width: 100%;
}
.banner .overlay {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(101, 100, 96, 0.3);
  left: 0px;
  top: 0;
}

.footer {
  font-family: "Poppins", sans-serif;
}
.footer-top {
  background-color: #78635a;
  border-top: 1px solid #78635a;
  padding: 50px 0px;
}
.footer-top .wrap {
  padding: 15px;
}
.footer-top-item {
  color: var(--white-color);
}
.footer-top-item h3 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: normal;
}
.footer-top-item p {
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-transform: uppercase;
}
.footer-top-item p.phone {
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 1px;
}
.footer-top-item .social img {
  width: 20px;
  margin-right: 20px;
}
.footer-top-item .search form {
  display: flex;
  align-items: center;
}
.footer-top-item .search-input {
  width: 60%;
}
.footer-top-item .search-input input {
  width: 100%;
  background-color: #f9f9f9;
  border-color: #f1f1f1;
  border-radius: 0px;
  border-style: solid;
  padding: 10px 20px;
  -webkit-appearance: none;
  color: #878787;
  outline: none;
  border-width: 1px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 2.1rem;
}
.footer-top-item .search-btn {
  width: 40%;
}
.footer-top-item .search-btn input {
  width: 100%;
  padding: 16px 30px !important;
  background-color: #715d55;
  border-width: 0px;
  border-color: #715d55;
  border-radius: 0px;
  border-style: solid;
  cursor: pointer;
  color: var(--white-color);
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.1rem;
  letter-spacing: 2px;
}
.footer-menu {
  height: 100%;
  padding: 15px;
}
.footer-menu-list {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.footer-menu-link {
  color: #a3a3a3;
  font-size: 1.3rem;
  line-height: 1.7rem;
  margin-right: 40px;
}
.footer-bottom-img {
  float: right;
  padding: 15px;
}
.footer-bottom-img img {
  width: 370px;
}

.navbar-menu {
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #78635a;
  padding: 40px;
  z-index: 4;
  transition: 0.3s ease-in;
  transform: translateX(100%);
  overflow-y: auto;
}
.navbar-menu.active {
  transform: translateX(0);
}
.navbar-menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0 !important;
  width: 25px !important;
  cursor: pointer;
}
.navbar-menu-list {
  padding-left: 0;
  text-align: left;
}
.navbar-menu-item {
  padding-bottom: 20px;
}
.navbar-menu-item .sub-menu {
  padding-left: 0;
}
.navbar-menu-item .sub-menu-item {
  padding: 0px 20px;
  text-align: left;
}
.navbar-menu-item .sub-menu-link {
  font-size: 1.4rem;
  line-height: 2.7rem;
  padding: 10px 0px;
  font-family: Poppins;
  color: var(--white-color);
  display: inline-block;
}
.navbar-menu-link {
  color: var(--white-color);
  padding: 10px 0px;
  display: inline-block;
  font-size: 24px;
  font-family: Poppins;
  text-transform: capitalize;
  line-height: 2.7rem;
}

.rooms-banner {
  background-image: url(../images/room-banner.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 305px;
  max-height: 305px;
  position: relative;
}
.rooms-banner-content h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-color);
  font-size: 5.5rem;
  line-height: 5.5rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.rooms-filter {
  padding: 10px 0px;
  background-color: #78635a !important;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.rooms-filter-list {
  display: inline-flex;
}
.rooms-filter-item {
  display: flex;
  align-items: center;
  padding: 20px;
}
.rooms-filter-item p {
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: 2px;
}
.rooms-filter-item:hover .filter-options {
  display: block;
}
.rooms-filter img {
  width: 10px;
}
.rooms-filter-display {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.rooms-filter-display .active.icon-grid {
  opacity: 1 !important;
}
.rooms-filter-display .active.icon-list {
  opacity: 1 !important;
}
.rooms-filter-display .icon-grid {
  background-image: url(../images/icon-grid.png);
  background-size: 18px 18px;
  opacity: 0.5;
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.rooms-filter-display .icon-list {
  background-image: url(../images/icon-list.png);
  background-size: 18px 18px;
  opacity: 0.5;
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.rooms-content {
  text-align: center;
  padding: 60px 0px;
}

.filter-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding-left: 0;
  padding-top: 10px;
  display: none;
  z-index: 3;
}
.filter-options-item {
  padding: 15px 10px;
  letter-spacing: 2px;
  font-size: 1.1rem;
  line-height: 1.1rem;
  text-align: left;
  background-color: #78635a;
}
.filter-options-item:first-child {
  background-color: #715d55;
}
.filter-options-link {
  color: var(--white-color);
  text-transform: uppercase;
}

.sidebar {
  font-family: "Poppins", sans-serif;
  color: #727475;
}
.sidebar-tour {
  background-image: url(../images/parallax8.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  padding: 15px;
  box-sizing: border-box;
  background-position: -227px;
}
.sidebar-tour-item {
  padding: 15px;
  padding-bottom: 0px;
}
.sidebar-tour-btn {
  padding: 0px 15px 15px;
  text-align: center;
}
.sidebar-tour-btn input {
  background-color: #715d55;
  padding: 15px 30px !important;
  color: var(--white-color);
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.1rem;
  line-height: 1.1rem;
  border: none;
  width: 100%;
  text-transform: uppercase;
}
.sidebar .border {
  height: 2px;
  background-color: #f9f9f9;
  border: none !important;
}
.sidebar-range-slider {
  padding: 30px;
}
.sidebar-range-slider .slider {
  width: 100%;
  background-color: #78635a;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.sidebar-range-slider .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
.sidebar-range-slider .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
.sidebar-range-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar-range-header .price {
  display: flex;
  align-items: center;
}
.sidebar-range-header .price-number {
  width: 50px;
  font-size: 2rem;
  padding: 0;
  background-color: transparent;
  line-height: 2.7rem;
  color: #727475 !important;
}
.sidebar-range-header .price span {
  font-size: 2rem;
  padding: 0;
  background-color: transparent;
  line-height: 2.5rem;
  color: #727475 !important;
}
.sidebar-range-header h3 {
  color: #727475;
  font-size: 2rem;
  line-height: 2rem;
}
.sidebar-service-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  cursor: pointer;
}
.sidebar-service-option h3 {
  font-size: 2rem;
  line-height: 2rem;
}
.sidebar-service-option img {
  cursor: pointer;
  width: 12px;
}
.sidebar-service-option.active .rotate {
  transform: rotate(180deg);
}
.sidebar-booking .sidebar-tour {
  background: #78635a !important;
}
.sidebar-booking .sidebar-tour .box {
  background-color: #715d55 !important;
}
.sidebar-item {
  display: flex;
  color: #727475;
  padding-bottom: 20px;
}
.sidebar-item-img img {
  width: 100px;
  height: 100%;
  object-fit: cover;
}
.sidebar-item-info {
  margin-left: 20px;
  min-height: 100px;
}
.sidebar-item-info h4 {
  margin-top: 5px;
  font-size: 1.7rem;
  line-height: 1.7rem;
}
.sidebar-item-info p {
  color: #a3a3a3;
}
.sidebar-item-btn a {
  background-color: #78635a;
  padding: 7px 10px;
  font-size: 1.1rem;
  line-height: 1.1rem;
  color: var(--white-color);
  text-transform: uppercase;
}
.sidebar-item-star img {
  width: 13px;
  margin-right: 5px;
}
.sidebar-title {
  margin-bottom: 20px;
  font-weight: 500;
  color: #727475;
  font-size: 2rem;
  line-height: 2rem;
}
.sidebar-search-form .form-input {
  background-color: #f9f9f9;
  border-width: 1px;
  border-color: #f1f1f1;
  border-radius: 0px;
  border-style: solid;
  padding: 10px 20px;
  -webkit-appearance: none;
  color: #878787;
  width: 100%;
  outline: none;
  font-size: 1.5rem;
}
.sidebar-search-form .form-btn {
  padding: 10px 20px;
  background-color: #715d55;
  color: var(--white-color);
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  border: none;
}
.sidebar-category-item {
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
}
.sidebar-category-link {
  color: #a3a3a3;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.box {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  color: var(--white-color);
  background-color: rgba(121, 101, 92, 0.9);
}
.box-title {
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.box-choose {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.box-number {
  font-size: 5rem;
  line-height: 5rem;
}
.box-number.one {
  text-align: center;
  width: 100%;
}
.box-form-text {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-top: 8px;
}
.box-form img {
  margin-top: 8px;
  width: 1.2rem;
}
.box-form .toggle {
  transform: rotate(180deg);
  display: block;
}

.checkbox-list {
  padding: 0px 30px;
}
.checkbox-list p {
  text-align: left;
  display: flex;
  align-items: center;
  color: #a3a3a3;
  font-size: 1.4rem;
  line-height: 2.7rem;
}
.checkbox-list p input {
  margin-right: 10px;
}

.content-item {
  margin-bottom: 20px;
}
.content-item .room-info-text {
  text-align: left;
}
.content-item .room-info-text .btn {
  background-color: var(--white-color) !important;
  border: 2px solid #78635a !important;
  color: #78635a;
  font-weight: bold;
}
.content-item .room-info-text .btn:hover {
  background-color: var(--primary-color) !important;
}
.content-item .room-info-name {
  font-size: 3rem;
  line-height: 3rem;
}
.content-item .item-border {
  border: 1px solid #f1f1f1;
  height: 1px;
}
.content-item-service {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-item-service .rm-icon a {
  padding: 0 !important;
}
.content-item-service .rm-icon img {
  width: 23px;
  height: 23px;
  margin-right: 15px;
}
.content-item-service .more {
  display: flex;
  align-items: center;
}
.content-item-service .more span {
  color: #a3a3a3;
  font-size: 1.1rem;
  line-height: 1.1rem;
}
.content-item-service .more img {
  width: 10px;
  margin-left: 5px;
}

.gallery-banner {
  background-image: url(../images/parallax8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 340px;
  height: 340px;
}
.gallery-banner-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
}
.gallery-banner .container {
  height: 100%;
}
.gallery-banner-overlay {
  height: 100%;
  background: linear-gradient(to bottom, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.2) 60%, #1c1c1c 100%);
}
.gallery-content-top {
  padding: 15px;
}
.gallery-content-top h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  color: #727475;
}
.gallery-content-top .subtitle {
  display: flex;
  align-items: center;
}
.gallery-content-top .subtitle p span {
  font-size: 1.4rem;
  line-height: 2.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #A3A3A3;
  margin-right: 10px;
}
.gallery-content-top .subtitle img {
  width: 15px;
  margin-right: 5px;
}
.gallery-content-info {
  margin-top: 50px;
}
.gallery-content-info .info-list {
  display: flex;
  align-items: center;
}
.gallery-content-info .info-item {
  text-align: center;
  width: 25%;
}
.gallery-content-info .info-item img {
  width: 40px;
}
.gallery-content-info .info-item p {
  margin-top: 15px;
  color: #a3a3a3;
  font-size: 1.4rem;
  line-height: 2.7rem;
}
.gallery-content-info .info-item p.calendar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-content-info .info-item p.calendar img {
  width: 12px;
  margin-left: 8px;
}
.gallery-slide {
  background-color: black;
  height: 395px;
  overflow: hidden;
}
.gallery-slide-list img {
  width: 100%;
  height: 395px;
}
.gallery-slide-nav {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.gallery-slide-nav .slick-current img {
  border: 2px solid #fff;
}
.gallery-slide-nav .slick-active {
  padding: 4px;
}
.gallery-slide-nav img {
  width: 60px;
  object-fit: cover;
  height: 60px;
}
.gallery-slide-nav img:hover {
  border: 2px solid #fff;
}
.gallery-slide-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.75) 100%);
}
.gallery-description p {
  color: #a3a3a3;
}
.gallery-service-title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #727475;
}
.gallery-service-item {
  padding: 10px 0px;
  display: flex;
  align-items: center;
}
.gallery-service-item img {
  width: 25px;
  margin-right: 15px;
}
.gallery-service-item p {
  line-height: 2rem;
  color: #a3a3a3;
}
.gallery-around {
  padding-bottom: 40px;
}
.gallery-around-title {
  color: #727475;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.gallery-around-item img {
  width: 100%;
}
.gallery-around-item .text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;
}
.gallery-around-item .text h4 {
  color: var(--white-color);
  font-size: 1.7rem;
  line-height: 1.7rem;
  letter-spacing: 2px;
}
.gallery-around-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.2) 60%, #1c1c1c 100%);
}

.banner-left-list {
  display: flex;
  align-items: center;
  height: 100%;
}
.banner-left-item {
  margin-right: 40px;
}
.banner-left-item:first-child a {
  border-bottom: 2px solid #ffffff;
}
.banner-left-link {
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
  line-height: 2.4rem;
  display: inline-block;
}
.banner-right-info {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}
.banner-right-number h1 {
  font-size: 5rem;
  line-height: 5rem;
}
.banner-right-text {
  margin-left: 10px;
}
.banner-right-text h5 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.border-white {
  background-color: #f9f9f9;
  height: 2px;
}

.similar-title {
  padding: 15px;
}
.similar-title h1 {
  color: #727475;
  font-size: 4.5rem;
  line-height: 4.5rem;
}
.similar-border {
  height: 1px;
  background-color: #78635a;
  width: 30px;
  margin-top: 14px;
}

.about-banner {
  background-image: url(../images/parallax1.jpg);
  background-size: cover;
  background-position: center center;
}
.about-overlay {
  background-color: rgba(67, 74, 84, 0.3);
  height: 100%;
}
.about-description {
  font-family: "Poppins", sans-serif;
}
.about-description-left {
  padding-right: 40px;
}
.about-description-left h1 {
  color: #727475;
  font-weight: normal;
  font-size: 4rem;
  line-height: 5rem;
  text-align: right;
}
.about-description p {
  color: #a3a3a3;
}
.about-description-img .desc-img-info {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  padding: 50px;
  padding-bottom: 0px;
  text-align: center;
  z-index: 2;
  color: var(--white-color);
}
.about-description-img .desc-img-info h3 {
  font-size: 2rem;
  line-height: 2rem;
}
.about-description-img .desc-img-info h6 {
  font-size: 1.3rem;
  line-height: 1.3rem;
}
.about-description-img .desc-img-info h6 strong {
  font-weight: bold;
}
.about-description-img .desc-img-item img {
  width: 100%;
}
.about-system {
  background-image: url(../images/parallax5.jpg);
  min-height: 470px;
  background-size: cover;
}

.bg-overlay {
  background: linear-gradient(to bottom, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.65) 100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*# sourceMappingURL=styles.css.map */
